@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&display=swap");

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  position: relative;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

label.error {
  position: absolute;
  font-size: 14px;
  color: red;
  font-weight: 600;
  line-height: 20px;
  margin: 0;
  bottom: -20px;
  right: 0px;
}