.font-md {
  font-size: $md-font;
  font-weight: normal;
  font-family: $font-sans;
  color: $light-grey;
  margin: 0;
}

.font-md-bold {
  font-size: $md-font;
  font-weight: 600;
  font-family: $font-sans;
  color: $light-grey;
  margin: 0;
}

.font-sm {
  font-size: $sm-font;
  font-weight: normal;
  font-family: $font-sans;
  color: $dark-grey;
  margin: 0;
}

.font-large {
  font-size: 32px;
  font-weight: normal;
  font-family: $font-sans;
  margin: 0;
}

.font-xlarge {
  font-size: 42px;
  font-weight: normal;
  font-family: $font-sans;
  margin: 0;
}
